/*COMMON(공통)*/
.body__container{
    font-family: 'roboto', sans-serif;
    font-size: 16px; /*기본폰트 사이즈*/
    font-weight: 400; /*기본 폰트두께*/
    color: #333; /*조금 어두운 회색*/
}

a{
    text-decoration: none;  /*밑줄 전체 삭제*/
}


/*FLOAT CLEARFIX*/
.clerfix::after{
    content: "";
    clear: both;
    display: block;
}

.float--left{
    float: left;
}

.float--right{
    float: right;
}


/*BTN*/
.btn{
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: flex;  /*inline-flex -> flex수정*/
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer; /*마우스 올렸을때 손가락모양*/
    box-sizing: border-box; /* 더이상 커지지 않게*/
    position: relative; /*부모요소에 포지션없을때 설정*/
    color: #333;
    position: relative;
}

.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
}

.btn.btn--primary{
    border: 1px solid #65b836;
    color: #fff;
    background:#55a532 linear-gradient(#91dd70, #55ae2e);
}


/*INPUT TEXT*/
.input--text{
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* 더이상 커지지 않게*/
    outline: none;
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);*/ /*inset을 사용하면 그림자가 안쪽으로 들어가게된다*/
    box-shadow: inset 0 1px 2px;
    font-size: 16px;
}

.input--text:focus{
    border-color: #51a7e8 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
                0 0 5px rgba(81, 167, 232, 0.5); /*다중 설정 가능*/
}

/*브라우저 업체별 접두사*/
.input--text::-webkit-input-placeholder{
    color: #cacaca;
}

.input--text::-ms-input-placeholder{
    color:#cacaca;
}

.input--text::-moz-input-placeholder{
    color:#cacaca;
}


/*SUMMARY*/
.summary__title{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}

.summary__description{
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}

/*SECTION & INNER*/
.section{
    position: relative; /*자기자신으로 위치를 설정 (레이아웃에는 아무영향x)*/
}

.section .inner{
    max-width: 980px;
    margin: 0 auto; /*margin 0 auto 로 가운데 정렬을 사용하려면 가로사이즈가 정의되어있어야 사용가능하다*/
    box-sizing: border-box;
    position: relative;
}


/*HEADER*/
header{
    border-bottom: 1px solid rgba(0,0,0,0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background: #fff;
}

header .inner{
   height: 78px;
}

header .menu-group{
    display: flex; /*flex 안에 있는 자식요소들은 수평정렬이됨*/
    align-items: center;    /*수직정렬*/
    height: 100%;
}

header .logo{  
    margin-right: 10px;
}

header .logo a{
    background: url("../img/logo.svg"); /*css를 통해 백그라운드로 이미지를 줄떄는 html의 텍스트가 대체텍스트로 작용하기 떄문에 지우면x*/
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;   /*텍스트를 사라지게 해서 대체택스트로 사용한다는 약속같은 9999*/
}

header .logo a:hover{
    background: url("../img/logo_on.svg");
}

header .main-menu{
    display: flex;
}

header .main-menu li{
    list-style-type: none;   /*reset.css 가 안되서..추가*/
}  

header .main-menu li a{
    display: block;
    padding: 10px;
    color:  #3c4146;
}

header .main-menu li a:hover{
    color: #4078c0;    
}

header .sign-group{
    display: flex;
    align-items: center;
    height: 100%;
}

header .btn-group{
    order: 2;
    display: flex;
}

header .btn-group .sign-in{
    margin-right: 4px;
}

#search-form{
    order:1;
    margin-right: 12px;
}

#search{
    width: 160px;
    font-size: 14px;
}

#search + [type="submit"]{  /*다음 형제 요소를 지칭할떄 이렇게 사용가능*/
    display: none;  /*화면에 x*/
}

header .sub-menu{
    display: flex;
    margin-right: 10px;
}

header .sub-menu li{
    list-style-type: none;  /*reset.css 가 안되서..추가2*/
}

header .sub-menu li a{
    padding: 8px;
    display: block;
    font-size: 13px;
    color: #3c4146;
}

header .sub-menu li a:hover{
    color: #4078c0;
}

#toggle-btn{
    display: none;
    background: url(../img/toggle-btn.svg);
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}

/*VISUAL*/
.section--visual{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat; /*반복x*/
    background-position: bottom left;
    background-size: cover; /*축소 확대해도 이미지가 전체를 잡아먹음*/
    position: relative;
}

.section--visual::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}

.section--visual .inner{
    padding: 160px 0;
    display: flex;
}

.section--visual .summary{
    flex: 1;
    margin-right: 90px;
}

.section--visual .summary__title{
    color: #fff;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),
                 0 1px 25px rgba(0,0,0,0.75);
}

.section--visual .summary__description{
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),
                 0 1px 25px rgba(0,0,0,0.75);
}

#sign-form{
    width: 340px;
    margin-top: 16px;
}

#sign-form li{
    margin-bottom: 17px;
    list-style-type: none;  /*resset.css 안되서.. 추가3*/
}

#sign-form li:last-child{
    margin-bottom: 0;
}

#sign-form .input--text{
    width: 100%;
    height: 40px;
}

#sign-form .caption{
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255,255,255,0.6);
    line-height: 1.5;
    text-align: center;
}

#sign-form [type="submit"]{
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center; /*text-align: center; 가 안될떄 수평정렬*/
}


/*FEATURE*/
.section--feature{
    background:  #f5f5f5;
    padding-top: 66px;
}

.section--feature .summary{
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
}

.section--feature .video{
    max-width: 650px;
    margin: 50px auto 0 auto;
}

.section--feature .video .video-ratio{
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.section--feature .video .video-ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section--feature .tiles{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;;
}

.section--feature .tiles .inner{
    max-width: 1200px;  /*공통 inner에서 정의된 max-width 값을 1200으로 덮어버림*/
}

.section--feature .tiles ul{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);  4개의 컬럼, 1:1:1:1의 비율로 그리드 생성 */
}

.section--feature .tiles li{
    padding: 34px 24px;
    text-align: center;
    line-height: 1.5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    float: left;    /*부모요소에 clearfix 있는지 확인해야됨*/
    max-width: 25%;
    list-style-type: none;  /*resset.css 안되서.. 추가4*/
}

.section--feature .tiles li:last-child(){
    border-right: none;
}

.section--feature .tiles ul li img{
    max-width: 100%;
    padding : 14px 10% 24px;
    box-sizing: border-box;
}

.section--feature .tiles li h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section--feature .tiles li p{
    font-size: 14px;
    color: #767676;
}


/*WHERE IS*/
.section--where-is .inner{
    padding-top: 80px;
}

#map{
    width: 100%;
    height: 400px;
    margin-top: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
}


/*PRICING CARD*/
.section-pricing{
    background: linear-gradient(#f5f5f5, #fff); /*그라데이션 쓰긴 쓰는구나...*/
}

.section-pricing .inner{
    padding: 80px 0;
}

.section-pricing .card{
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius : 6px;
    box-sizing: border-box;
    align-items: center;
}

.section-pricing .card .cell{
   padding: 24px;
   display: flex;
   justify-content:center;
   align-items: center;
}

.section-pricing .card .cell1{
    height: 50px;
    font-size: 16px;
}

.section-pricing .card .cell2{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    flex : 1;   /*베이시스 1로 설정시 0이 됨 그래서 생략*/
    border-left: 1px solid #e5e5e5;
}


/*FOOTER*/
footer .inner{
    padding: 50px 0;
    border-top: 1px solid #eee;
}

footer .site-links{
    display: flex;
}

footer .site-links li{
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
    list-style-type: none;  /*resset.css 안되서.. 추가4*/
}

footer .site-links li:last-child {
    margin-right: 0;
}

footer .site-links li a{
    color: #4078c0;
}

footer .site-links li a:hover{
    text-decoration: underline;
}

footer .logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;    
}

footer .logo:hover svg{
    fill: #4078c0
}

